@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 title">WE'RE SANTANDER BANK</h1>
    <div class="paragraph">
        <p>It's our mission to help you prosper. So, we treat you and your money the way we all want to be treated-with respect. How do we do it? With simple ways to spend, save, and manage your money better.</p>
        <p>Because, at Stantander, we belive respecting you and your money is the first step on the journey to prosperity. </p>
    </div>
</div>
